
$titre-size: 32px;
$globalFont: 'Source Sans Pro', sans-serif;
$globalFontSize: 1em;
$globalAlign: center;
$buttonText: #FFFFFF;
$standardButtonColor: #469487;
$standardButtonHover : #38746A;
$cancelButtonColor: #DF5A4B;
$cancelButtonHover: #B9493D;
$buttonWidth: 200px;
$buttonHeight : 50px;
$bookDivBackground: #E0E0E0;
$tenPixels: 10px;
$zero : 0px;
$thirtyPercent: 30%;
$slide-content-height: 300px;


body{
    text-align: center;
    font-family: $globalFont;
    font-size: $titre-size*0.5;
}

h2 {
    display:block;
    width: 100%;
}

#formDiv{
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.standardButton, button, #addBook, #btnSearch {
    text-align: center;
    background-color: $standardButtonColor;
    color: $buttonText;
    // margin: 1%;
    font-family: $globalFont;
    font-size: larger;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: $buttonWidth;
    height: $buttonHeight;
    
}

button,
#addBook:hover, #addBook:active, #btnSearch:hover, #btnSearch:active {
   background-color: $standardButtonHover;
}

.cancel {
	display:block;
	background-color: $cancelButtonColor;

}

.cancel:hover, .cancel:active {
   background-color: $cancelButtonHover;
}

.cancel{
    display: block;
    margin-left:0;
}
// .box-closed {
//     height: 0px;
// }

#btnSearch {
    display: block;
    margin-left:0;
}
label {
    text-align: left;
    width: 100%;
    display: block;
}

input {
    display: block;
    width: 97%;
}

.bookContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    color: black;
}

.hidden {
    display: none;
}

.book {
    background-color: $bookDivBackground;
    font-size: smaller;
    border: 1.5px solid #9E9E9E;
    border-radius: 3px;
    padding: 1% 1% 1% 1%;
    margin: 1%;
    width: 40%;
    text-align: left;
    font-size: x-small;
}



.book .bookTitle, .book .bookId {
    font-weight: bolder;
}

.book .bookId, .book .bookAuthor {
    font-style: italic;
}

.book .imgBook {
    display: flex;
    vertical-align: bottom;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 3px;
    box-shadow:
             0.2em 0.2em 0.8em rgba(0,0,0,0.3);
}


.bookmark {
    float: right;
    color: $standardButtonColor;
    font-size: x-large;
    cursor: pointer;
}


@media (min-width: 767px) {
    #myBooks {
        #searchDiv .button {
            width: 150px;
            margin: $tenPixels $zero;
        }
        .book {
            width: 45%;
        }
        .book-bottom {
            flex-direction: row;
        }
    }
}

@media (min-width: 991px) {
    .book {
        width: $thirtyPercent;
    }
}

.slide-down {
    animation: slide-down 0.3s linear both;
  }
  
  .slide-up {
    animation: slide-up 0.3s linear both;
  }
  
  @keyframes slide-down {
    0% {
      visibility: hidden;
      height: 0;
    }
  
    95% {
      visibility: visible;
      height: $slide-content-height;
    }
  
    /* Set height to 'auto' after animation for spacing showing form-invalid feedback message */
    100% {
      visibility: visible;
      height: auto;
    }
  }
  
  @keyframes slide-up {
    from {
      visibility: visible;
      height: $slide-content-height;
    }
  
    to {
      visibility: hidden;
      height: 0;
    }
  }
  